body{
    margin:0;
    --fontstyle: Helvetica,Arial,sans-serif;
    
}

.bluebox{
    width:1349px;
    height: 53px;
    background: #1d75de;
    position:relative;
}
.cross{
    color:azure;
    text-align: center;
    font-weight: bolder;
    position:absolute;
    top:14px;
    right:105px;    
}
.hindi{
   list-style-type:none;
   position:absolute;
   top:2px;
   left:65px;  
}
.hindicolor{
    color:#fff;
    font-size: 12px;

}
.blackbox1{
    width: 1349px;
    height:80px;
    position: relative;
    background: black;

}
.menu-ul{
    position: absolute;
    list-style-type:none;
    color:#fff;
    position:absolute;
    right:91px;
    font-weight: 650;
    font-family: var(--fontstyle);
}
.menuli{
    float:left;
    padding: 16px;
}
.hov{
  display: inline;
}
.hov:hover{
    color: #1ed760;
}
.forline{
    display: inline-block;
    height: 16px;
    width: 1px;
 }
 .wh{
    color: #fff;
 }
 .gr{
    color: #d9dadc;
 }
     
 
.logo1{
    width: 133px;
    height: 40px;
    position: relative;
    left:104px;
    top:20px;
}
.thirddiv{
    width:100%;
    height:600px;
    background:center -138px / 100% 1068px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
    position: relative;
    
}
.bubblimg{
    background-image: url("/sample/sam/bb1.svg");
    background-repeat: no-repeat;
    background-size: 97% 140%;
    background-position-y: -32px;
    background-position-x: 28px;
    width:100%;
    height:624px;
}
.mobdiv{
    width: 281px;
    height: 501px;
    background:white;
    position:relative;
    left:180px;
    top:99px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
   }
 .spkdiv{
    width:45px;
    height:6px;
    background:rgb(35, 31, 32);
    position: absolute;
    top:24px;
    margin-left: 118px;
    border-radius: 5px 5px 5px 5px;
 }  
 .mobimg{
    background-image:url("/sample/sam/s1.jpeg");
    width: 267px;
    height: 445px;
    background-size: 100% 100%;
    position: absolute;
    bottom:0;
    margin-left: 7px;
    }

.headingdiv{
    width: 727px;
    height: 177px;
    color:#fff;
    position: absolute;
    left: 553px;
    bottom:278px;
}
.headingh1{
   font-size: 55px;
   font-weight: 900;
   line-height:1.15;
   letter-spacing: 1.92px;
   font-family: var(--fontstyle);
   }
.freebtn{
    position: absolute;
    left:555px;
    bottom:198px;
    background:#ffffff;
    border-radius: 25px 25px 25px 25px;
    width:188px;
    height:50px;
    border-style: none;
    }
.butnwrd{
     color: black;
     font-family: var(--fontstyle);
     font-weight: 750;
     font-size:small;
     

}
.fourthdiv{
    width: 1349px;
    height: 595.297px;
    background:#fff;
    position: relative;
    
}
.fourhead{
    width:1349px;
    height:100px;
    display: flex;
    justify-content: center;
    position: absolute;
    top:36px;
}
.fourhead-h{
      font-family:var(--fontstyle);
      font-weight: bolder;
      font-size:42px;
}
.menudiv{
    width: 1140;
    height: 400;
    position: absolute;
    bottom: 0;
    margin-left: 108px;
}

.play{
    width: 285px;
    height:400px;
    float:left;
    text-align: center;
    float: left;
    

}
.playimg{
    height: 142px;
    width: 142px;

}
.playlist{
    width: 285px;
    height: 400px;
    float:left;

    
   }
.make{
    width: 285px;
    height:400px;
    float:left;
    
    }
.mobdata{
    width: 285px;
    height:400px;
    float: left;

    }

.formenutext-h{
     font-weight:bold;
     font-size:19px;
     line-height: 1.3em;
     font-family: var(--fontstyle);
     padding-top: 15px;
    
}
.formenutext-c{
    font-size: 15px;
    line-height: 1.3em;
    display:inline-block;
    font-family: var(--fontstyle);
    
}
.cntr{
    text-align: center;
}